.jas {
    background-color: rgb(190, 241, 191);
}
.heroine-image {
border-radius: 50%;
height: 280px;
width: 280px;
border: 10px solid rgb(51, 63, 21);
margin-left: 20px;
margin-right: 20px;
margin-top: 20px;
}
.jas1{
    font-style: italic;
    font-size: 30px;
    margin-left: 67px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.jas2{
font-size: small;
margin-left: 100px;
margin-top: 0px;;
}
ol{
    list-style: none;
}
.butt{
    margin-bottom: 70px;
    background-color: #04AA6D; /* Green */
    border-radius: 15px;
    font-size: 18px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.butt:hover{
    background-color: rgb(195, 97, 244);
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.work1{
   font-size: 30px;
   margin-left: 5px;
   margin-top: -300px;
}
.work2{
    font-size: 30px;
    margin-left: 330px;
    margin-top: -59px;
}
.work3{
    font-size: 30px;
    margin-left: 750px;
    margin-top: -59px;
}
.done1{
    height: 20px;
    width: 170px;
    margin-right: 25px;
}
.done2{
    height:20px;
    width: 170px;
    margin-left: 325px;
    margin-bottom: 125px;
    margin-top: -38px;
}
.done3{
    height: 20px;
    width: 170px;
    margin-left: 745px;
    margin-top: -145px;
    margin-bottom: 230px;
}
.hero-section{
    margin-right: 50px;
}
.workss{
    margin-left: 400px;
}
.testimonials{
    background-color: bisque;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 90px;
    margin: 20px;
    margin-top: 0px;
}
.testimonials test-image{
    float: left;
    margin:10px;
}
.test-image{
    width: 200px;
    height: 250px;
    border-radius: 50%;
}
.testimonials::after{
    clear: both;
    display:table;
}
.side1{
    margin-left: 270px;
    margin-bottom: 0;
    margin-top: -150px;
}
.todos-section{
    margin-left: 20px;
}
.contact-section{
    margin-left: 40px;
    display:inline;
}
.contact{
    display: inline;
}
.location{
    margin-left: 400px;
    margin-top: -411px;
}
.map{
    height: 400px;
    width: 950px;
}


